@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #5cdb95;
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  height: 20vh;
  align-items: center;
  justify-content: space-around;
}

.heading {
  text-decoration: none;
  color: black;
}

.box #label {
  font-size: 24px;
}

.box #input {
  background: transparent;
  width: 40vh;
  height: 5vh;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 2px solid black;
}

.box #input:focus {
  animation: box 1s ease-in-out 0s 1 normal forwards;
}

.submit {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 2px 5px;
  width: 7.5vw;
  border-radius: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s ease-in;
}

.submit:hover {
  background: white;
}
@keyframes box {
  0% {
    border-bottom: 2px solid black;
  }
  33% {
    border-left: 2px solid black;
  }
  66% {
    border-top: 2px solid black;
  }
  99% {
    border-right: 2px solid black;
  }
  100% {
    border: 2px solid black;
  }
}
